In [1]:
import pandas as pd
from config import CLEANED_TARP_CSV_FILENAME, TARP_CSV_FILENAME

In [2]:
tarp_df = pd.read_csv(TARP_CSV_FILENAME)
tarp_df.head()

,Soil Moisture,Temperature,Soil Humidity,Time,Air temperature (C),Wind speed (Km/h),Air humidity (%),Wind gust (Km/h),Pressure (KPa),ph,rainfall,N,P,K,Status
0,54,22,70,21,19.52,2.13,55.04,6.30,101.50,6.502985,202.935536,90.0,42.0,43.0,ON
1,12,20,40,104,19.49,2.01,55.17,10.46,101.50,7.038096,226.655537,85.0,58.0,41.0,OFF
2,34,26,35,62,19.47,1.90,55.30,14.63,101.51,7.840207,263.964248,60.0,55.0,44.0,ON
3,7,44,44,93,19.54,2.28,54.20,16.08,101.51,6.980401,242.864034,74.0,35.0,40.0,OFF
4,50,38,23,92,19.61,2.66,53.09,17.52,101.51,7.628473,262.717340,78.0,42.0,42.0,OFF

In [3]:
tarp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Soil Moisture        100000 non-null  int64
 1   Temperature          100000 non-null  int64
 2    Soil Humidity       100000 non-null  int64
 3   Time                 100000 non-null  int64
 4   Air temperature (C)  23995 non-null   float64
 5   Wind speed (Km/h)    23995 non-null   float64
 6   Air humidity (%)     23995 non-null   float64
 7   Wind gust (Km/h)     23995 non-null   float64
 8   Pressure (KPa)       23995 non-null   float64
 9   ph                   2200 non-null    float64
 10  rainfall             2200 non-null    float64
 11  N                    2200 non-null    float64
 12  P                    2200 non-null    float64
 13  K                    2200 non-null    float64
 14  Status               100000 non-null  object
dtypes: float64(10), int64(4), object(1)
memory usage: 11.4+ MB

In [4]:
unknown_columns = {11, 12, 13}
columns_to_skip = {2, 5, 7, 9, 10} | unknown_columns
columns = set(range(15)) - columns_to_skip
columns

{0, 1, 3, 4, 6, 8, 14}

In [5]:
tarp_df = pd.read_csv(TARP_CSV_FILENAME, usecols=columns)
tarp_df.head()

,Soil Moisture,Temperature,Time,Air temperature (C),Air humidity (%),Pressure (KPa),Status
0,54,22,21,19.52,55.04,101.50,ON
1,12,20,104,19.49,55.17,101.50,OFF
2,34,26,62,19.47,55.30,101.51,ON
3,7,44,93,19.54,54.20,101.51,OFF
4,50,38,92,19.61,53.09,101.51,OFF

In [6]:
# normalize column names, delete parentheses and spaces
tarp_df.columns = tarp_df.columns.str.replace(r"\s*\([^)]*\)", "", regex=True)
tarp_df.columns = tarp_df.columns.str.lower().str.replace(" ", "_")
tarp_df.columns

Index(['soil_moisture', 'temperature', 'time', 'air_temperature',
       'air_humidity', 'pressure', 'status'],
      dtype='object')

In [7]:
tarp_df.shape

(100000, 7)

In [8]:
# remove rows with null value
tarp_df = tarp_df.dropna()
tarp_df.shape

(23995, 7)

In [9]:
mapping = {"ON": 1, "OFF": 0}
# change status to int 0/1
tarp_df.status = tarp_df.status.map(mapping)
tarp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23995 entries, 0 to 26300
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   soil_moisture    23995 non-null  int64
 1   temperature      23995 non-null  int64
 2   time             23995 non-null  int64
 3   air_temperature  23995 non-null  float64
 4   air_humidity     23995 non-null  float64
 5   pressure         23995 non-null  float64
 6   status           23995 non-null  int64
dtypes: float64(3), int64(4)
memory usage: 1.5 MB

In [10]:
tarp_df.to_csv(CLEANED_TARP_CSV_FILENAME, index=False)

In [11]:
tarp_df.pressure.describe()

count    23995.000000
mean       101.131418
std          0.218448
min        100.500000
25%        100.980000
50%        101.120000
75%        101.260000
max        101.860000
Name: pressure, dtype: float64